.devcontainer
*.DS_Store
.vscode
srcs/rails/files/*.rbc
srcs/rails/files/capybara-*.html
srcs/rails/files/.rspec
srcs/rails/files/db/*.sqlite3
srcs/rails/files/db/*.sqlite3-journal
srcs/rails/files/db/*.sqlite3-[0-9]*
srcs/rails/files/public/system
srcs/rails/files/coverage/
srcs/rails/files/spec/tmp
srcs/rails/files/*.orig
srcs/rails/files/rerun.txt
srcs/rails/files/pickle-email-*.html

# Ignore all logfiles and tempfiles.
srcs/rails/files/log/*
srcs/rails/files/tmp/*
!srcs/rails/files/log/.keep
!srcs/rails/files/tmp/.keep

# dotenv, dotenv-rails
# TODO Comment out these rules if environment variables can be committed
srcs/rails/files/.env
srcs/rails/files/.env.*

## Environment normalization:
srcs/rails/files/.bundle
srcs/rails/files/vendor/bundle

# these should all be checked in to normalize the environment:
# Gemfile.lock, .ruby-version, .ruby-gemset

# unless supporting rvm < 1.11.0 or doing something fancy, ignore this:
srcs/rails/files/.rvmrc

# Ignore Byebug command history file.
srcs/rails/files/.byebug_history

# Ignore node_modules
srcs/rails/files/node_modules/

# Ignore precompiled javascript packs
srcs/rails/files/public/packs
srcs/rails/files/public/packs-test
srcs/rails/files/public/assets

# Ignore yarn files
srcs/rails/files/yarn-error.log
srcs/rails/files/yarn-debug.log*
srcs/rails/files/.yarn-integrity

# Ignore uploaded files in development
srcs/rails/files/storage/*
!srcs/rails/files/storage/.keep

srcs/rails/files/test/*

# Ignore avatar
srcs/rails/files/public/*

!srcs/rails/files/public/404.html
!srcs/rails/files/public/422.html
!srcs/rails/files/public/500.html
!srcs/rails/files/public/uploads
srcs/rails/files/public/uploads/*
!srcs/rails/files/public/uploads/user
srcs/rails/files/public/uploads/user/*
!srcs/rails/files/public/uploads/user/avatar
srcs/rails/files/public/uploads/user/avatar/*
!srcs/rails/files/public/uploads/user/avatar/1
srcs/rails/files/public/uploads/user/avatar/1/*
!srcs/rails/files/public/uploads/user/avatar/1/girl.jpg
!srcs/rails/files/public/uploads/user/avatar/2
srcs/rails/files/public/uploads/user/avatar/2/*
!srcs/rails/files/public/uploads/user/avatar/2/dog.jpg
!srcs/rails/files/public/uploads/user/avatar/3
srcs/rails/files/public/uploads/user/avatar/3/*
!srcs/rails/files/public/uploads/user/avatar/3/cat.jpg
!srcs/rails/files/public/uploads/user/avatar/4
srcs/rails/files/public/uploads/user/avatar/4/*
!srcs/rails/files/public/uploads/user/avatar/4/splinter.jpg
!srcs/rails/files/public/uploads/user/avatar/5
srcs/rails/files/public/uploads/user/avatar/5/*
!srcs/rails/files/public/uploads/user/avatar/5/leo.jpg
!srcs/rails/files/public/uploads/user/avatar/6
srcs/rails/files/public/uploads/user/avatar/6/*
!srcs/rails/files/public/uploads/user/avatar/6/don.jpg
!srcs/rails/files/public/uploads/user/avatar/7
srcs/rails/files/public/uploads/user/avatar/7/*
!srcs/rails/files/public/uploads/user/avatar/7/raph.jpg
!srcs/rails/files/public/uploads/user/avatar/8
srcs/rails/files/public/uploads/user/avatar/8/*
!srcs/rails/files/public/uploads/user/avatar/8/mike.jpg
!srcs/rails/files/public/uploads/user/avatar/9
srcs/rails/files/public/uploads/user/avatar/9/*
!srcs/rails/files/public/uploads/user/avatar/9/rick.jpg
!srcs/rails/files/public/uploads/user/avatar/10
srcs/rails/files/public/uploads/user/avatar/10/*
!srcs/rails/files/public/uploads/user/avatar/10/morty.jpg

!srcs/rails/files/public/uploads/guild
srcs/rails/files/public/uploads/guild/*
!srcs/rails/files/public/uploads/guild/logo
srcs/rails/files/public/uploads/guild/logo/*
!srcs/rails/files/public/uploads/guild/logo/1
srcs/rails/files/public/uploads/guild/logo/1/*
!srcs/rails/files/public/uploads/guild/logo/1/cat_mem.jpg
!srcs/rails/files/public/uploads/guild/logo/2
srcs/rails/files/public/uploads/guild/logo/2/*
!srcs/rails/files/public/uploads/guild/logo/2/tmnt.jpg
!srcs/rails/files/public/uploads/guild/logo/3
srcs/rails/files/public/uploads/guild/logo/3/*
!srcs/rails/files/public/uploads/guild/logo/3/rick_morty.jpg
