<div class='row'>
	<div class='col-1'></div>
	<div class='col-10'>
		<div class='row titletext' id='TournamentTitle'></div>
		<div class='row'>
			<div class='col-4'>
				<div class='row' id='TournamentWinner'></div>
				<div class='row' id='TournamentCard'></div>
			</div>
			<div class='col-8'>
				<div class='row' id='TournamentMembers'></div>
				<div class='row' id='TournamentMatches'></div>
			</div>
		</div>
	</div>
	<div class='col-1'></div>
</div>


<!-- 
	TOURNAMENT TITLE
-->
<script type="text/template" id="TournamentTitleTemplate">
	<div style='font-size: x-large;'>
		Tournament
		<a style='font-weight: 400'>
			<%= @tournament.name %>
		</a>
	</div>
</script>


<!-- 
	WINNER
-->
<script type="text/template" id="TournamentWinnerTemplate">
	<div style='margin-bottom: 20px'>
		<div class='card' style='text-align: center'>
			<div class="card-body">
				<div class='titletext'>
					WINNER
				</div>
				<div>
					<a href='/profile/<%%= user.id %>'>
						<img width="250px" height="250px" class="rounded-circle" src=<%%= user.avatar.url %>> 
					</a>
				</div>
				<div class='row'>
						<div class='titletext'>Nick: <%%= user.nickname %></div>
						<div class='titletext'>Score: <%%= score %></div>
				</div>
			</div>
		</div>
	</div>
</script>

<!-- 
	TOURNAMENT CARD
-->
<script type="text/template" id="TournamentCardTemplate">
	<div class="card">
		<div class="card-body">
			<div class='titletext'>
				DESCRIPTION
			</div>
		</div>
		<div class="list-group list-group-flush" id="list-tab" role="tablist">
			<li class="list-group-item">
				<div class='row'>
					<div class='col-4 UserInfoField InfoFieldText lightText'>Status:</div>
					<div class='col'><%%= status %></div>
				</div>
			</li>
			<li class="list-group-item">
				<div class='row'>
					<div class='col-4 UserInfoField InfoFieldText lightText'>Prize:</div>
					<div class='col'><%%= prize %></div>
				</div>
			</li>
			<li class="list-group-item">
				<div class='row'>
					<div class='col-4 UserInfoField InfoFieldText lightText'>Start date:</div>
					<div class='col'>
						<%%= start_date.getDate() %> <%%= start_date.toLocaleString('default', {month: 'short'}) %> <%%= start_date.getFullYear() %>
						<a style='font-weight: 200; margin: 0 5px;'> at </a>
						<%%= start_date.toLocaleTimeString('default', {timeZone: "Europe/Moscow", hour: '2-digit', minute:'2-digit'}) %>
					</div>
				</div>
			</li>
			<li class="list-group-item">
				<div class='row'>
					<div class='col-4 UserInfoField InfoFieldText lightText'>End date:</div>
					<div class='col'>
						<%%= end_date.getDate() %> <%%= end_date.toLocaleString('default', {month: 'short'}) %> <%%= end_date.getFullYear() %>
						<a style='font-weight: 200; margin: 0 5px;'> at </a>
						<%%= end_date.toLocaleTimeString('default', {timeZone: "Europe/Moscow", hour: '2-digit', minute:'2-digit'}) %> 
					</div>
				</div>
			</li>
			<li class="list-group-item">
				<div class='row'>
					<div class='col-4 UserInfoField InfoFieldText lightText'>Members:</div>
					<div class='col'><%%= members.count %></div>
				</div>
			</li>
			<li class="list-group-item" id="LastTournamentLi" style='border-bottom: 0px'>
				<div class='row'>
					<div class='col-4 UserInfoField InfoFieldText lightText'>Addons:</div>
					<div class='col'><%%= addon_type %></div>
				</div>
			</li>
			<li class="list-group-item" id="JoinTournamentLi" style='display: none'>
				<div class="row formMatches">
					<span id="JoinTournamentBtn" class="btn btn-outline-secondary col titletext">JOIN</span>
				</div>
			</li>
			<li class="list-group-item" id="LeaveTournamentLi" style='display: none'>
				<div class="row formMatches">
					<span id="LeaveTournamentBtn" class="btn btn-outline-secondary col titletext">LEAVE</span>
				</div>
			</li>
		</div>
	</div>
</script>

<!--
	MEMBERS TABLE TEMPLATE
-->
<script type="text/template" id="TournamentsMembersTableTemplate">
	<div class='card' style='width: 98%'>
		<div class="card-body">
			<div class='titletext'>
				MEMBERS
			</div>
		</div>
		<div class="list-group list-group-flush" id="list-tab" role="tablist">
			<div id='TournamentMembers'>
				<table class="table table-striped matchesTable" id='TournamentMembersTableHeader'>
					<thead id='TournamentsTableThead'>
						<tr class='tableHeader'>
							<th class="col-1"></th>
							<th class="col-2" class='tableHeader' style='font-weight: 300'>Nickname</th>
							<th class="col-1"></th>
							<th class="col-2" class='tableHeader' style='font-weight: 300'>Guild</th>
							<th class="col-2" class='tableHeader' style='font-weight: 300'>Wins</th>
							<th class="col-2" class='tableHeader' style='font-weight: 300'>Loses</th>
							<th class="col-2" class='tableHeader' style='font-weight: 300'>Score</th>
							<th class="col"></th>
						</tr>
					</thead>
				</table>
			</div>
			<div class='scroll-table-body'>
				<table class="table table-striped matchesTable" id='TournamentMembersTable'>
				</table>
			</div>
		</div>
	</div>
</script>

<!--
	MEMBERS ROW TEMPLATE
-->
<script type="text/template" id="MembersRowTemplate">
	<td class="col-1">
		<div class='col matchesTablePhotos'>
			<a href='/profile/<%%= user.id %>'>
				<img width="30" height="30" class="rounded-circle" src=<%%= user.avatar.url %>>
			</a>
		</div>
	</td>
	<td class="col-2">
		<div class='col shortText'>
			<%%= user.nickname %>
		</div>
	</td>
	<td class="col-1">
		<div class='col-lg-2 matchesTablePhotos'>
			<a href='/guilds'>
				<img width="30" height="30" class="rounded-circle" src=<%%= (guild.id == 0) ? "/assets/default-avatar.jpg" : guild.logo.url %>>
			</a>
		</div>
	</td>
	<td class="col-2">
		<div class='col-lg-2 shortText' style="width: 70px">
			<%%= (guild.id == 0) ? "none" : guild.name %>
		</div>
	</td>
	<td class="col-2">
		<%%= wins %>
	</td>
	<td class="col-2">
		<%%= loses %>
	</td>
	<td class="col-2">
		<%%= score %>
	</td>
	<td></td>
</script>


<!--
	CARD MATCHES TEMPLATE
-->
<script type="text/template" id="MatchesCardTemplate">
    <div style='margin-top: 20px'>
	  <div class='card p-0' style='width: 98%'>
        <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item" role="presentation">
            <button class="nav-link active titletext" id="current-tab" data-bs-toggle="tab" data-bs-target="#current" type="button" role="tab" aria-controls="current" aria-selected="true">CURRENT MATCHES</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link titletext" id="planned-tab" data-bs-toggle="tab" data-bs-target="#planned" type="button" role="tab" aria-controls="planned" aria-selected="false">PLANNED MATCHES</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link titletext" id="history-tab" data-bs-toggle="tab" data-bs-target="#history" type="button" role="tab" aria-controls="history" aria-selected="false">HISTORY MATCHES</button>
          </li>
        </ul>
        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade show active" id="current" role="tabpanel" aria-labelledby="current-tab">
            <div class='row' id='CurrentMatches'>
            </div>
          </div>
          <div class="tab-pane fade" id="planned" role="tabpanel" aria-labelledby="planned-tab">
            <div class='row' id='PlannedMatches'>
            </div>
          </div>
          <div class="tab-pane fade" id="history" role="tabpanel" aria-labelledby="contact-tab">
            <div class='row' id='HistoryMatches'>
            </div>
          </div>
        </div>
      </div>
		<div style='text-align: center'>
			<button class="col-2 mt-3 btn btn-outline-secondary titletext" id="MatchesTableRefresh">REFRESH</button>
		</div>
	</div>
</script>



<!--
	TABLE MATCHES TEMPLATE
-->
<script type="text/template" id="MatchesTableTemplate">
	<table class="table table-striped matchesTable">
		<thead id='MatchesTableThead'>
			<tr class='tableHeader'>
				<th class="tableHeader" style='font-weight: 300; width: 22%'>Player-1</th>
				<th class="tableHeader" style='font-weight: 300; width: 22%'>Player-2</th>
				<th class="tableHeader" style='font-weight: 300; width: 8%'>Score</th>
				<th class="col-2 tableHeader" style='font-weight: 300'>Guild-1</th>
				<th class="col-2 tableHeader" style='font-weight: 300'>Guild-2</th>
				<th class="col"></th>
				<th colspan="4"></th>
			</tr>
		</thead>
	</table>
	<div class='scroll-table-body'>
		<table class="table table-striped matchesTable" id='<%%= type %>MatchesTable'>
		</table>
	</div>
</script>

<!--
	TABLE MATCHES ROW TEMPLATE
-->
<script type="text/template" id="MatchesRowTemplate">
	<td class='col'>
		<div class="row justify-content-md-center">
			<div class='col-lg-2 matchesTablePhotos'>
				<a href='/profile/<%%= player1.id %>'>
					<img width="30" height="30" class="rounded-circle" src=<%%= player1.avatar.url %>>
				</a>
			</div>
			<div class='col-lg-2' style="width:100px; white-space: nowrap; text-overflow: ellipsis; overflow: hidden">
				<%%= player1.nickname %>
			</div>
		</div>
	</td>
	<td class='col'>
		<div class="row justify-content-md-center">
			<div class='col-lg-2 matchesTablePhotos'>
				<%% player2 == null ? "<a href='#'>" : "<a href='/profile/#{player2.id}'>"%>
					<img width='30px' height='30px' class='rounded-circle' src='<%%= player2 == null ? "/assets/default-avatar1.jpg" : player2.avatar.url %>'> 
				</a>
			</div>
			<div class='col-lg-2' style="width:100px; white-space: nowrap; text-overflow: ellipsis; overflow: hidden">
				<%%= (player2 == null) ? "No one answer" : player2.nickname %> 
			</div>
		</div>
	</td>
	<td class='col-1'><%%= player1_score %> - <%%= player2_score %></td>
	<td class='col'>
		<div class='row justify-content-md-center'>
			<div class='col-lg-2 matchesTablePhotos'>
				<a href='/guilds'>
					<img width="30" height="30" class="rounded-circle" src=<%%= (guild1 == null) ? "/assets/default-avatar.jpg" : guild1.logo.url %>>
				</a>
			</div>
			<div class='col-lg-2' style="width:70px; white-space: nowrap; text-overflow: ellipsis; overflow: hidden">
				<%%= (guild1 == null) ? "none" : guild1.anagram %>
			</div>
		</div>
	</td>
	<td class='col'>
		<div class='row justify-content-md-center'>
			<div class='col-lg-2 matchesTablePhotos'>
				<a href='/guilds'>
					<img width="30" height="30" class="rounded-circle" src=<%%= (guild2 == null) ? "/assets/default-avatar.jpg" : guild2.logo.url %>>
				</a>
			</div>
			<div class='col-lg-2' style="width:70px; white-space: nowrap; text-overflow: ellipsis; overflow: hidden">
				<%%= (guild2 == null) ? "none" : guild2.anagram %>
			</div>
		</div>
	</td>
	<td class='col'>
		<a type='button' class='btn btn-guild' id='ShowMatch' href='/matches/<%%= id %>'>
			Show
		</a>
	</td>
</script>



<%= javascript_pack_tag 'tournament' %>