<div class = "message mb-2 <%= 'me' if message.user == current_user %>">
  <div class = "content-container">
    <div class = "messageContent">
      <%= message.content %>
    </div>
    <div class = "author">
      <%= message.user.nickname %>(<%= Guild.all.find(message.user.guild_id).anagram %>)
    </div>
  </div>
</div>
