<div class="row">
	<% if current_user.guild_id? %>
		<div id="GuildForm", style="display: none">
		</div>
	<% else %>
		<div id="GuildForm">
		</div>
	<% end %>
</div>

<div class="row">
	<div class="col-3" id="GuildList">
		<h3>Список гильдий</h3>
	</div>
	<div class="col-5" id="GuildCard"></div>
	<div class="col-4" id="GuildContent"></div>
</div>

<script type="text/template" id="GuildListTemplate">
	<div id="GuildNameList">
		<%%= name %>
	</div>
</script>

<script type="text/template" id="GuildCardTemplate">
	<div class="card">
		<div class="card-body">
			<h5 class="card-title"><%%= name %></h5>
			<h6 class="card-subtitle mb-2 text-muted"><%%= anagram %></h6>
			<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
		</div>
		<ul class="list-group list-group-flush">
			<li class="list-group-item">Owner: <%%= owner_nickname %></li>
			<li class="list-group-item">Score:  <%%= score %></li>
			<li class="list-group-item" id="GuildCardMembers">Members</li>
		</ul>
		<div class="card-body" id="GuildDeleteBtn">
		</div>
	</div>
</script>

<script type="text/template" id="GuildDelBtnTemplate">
	<a class="card-link" id="delete_guild">Delete</a>
	<a class="card-link">Leave</a>
</script>

<script type="text/template" id="GuildFormTemplate">
	<div class="class row" style="margin: 20px">
		<div class="col-3">
			<form class="row">
				<%# <label for="userFromIntra" class="visually-hidden">Guild name</label> %>
				<input placeholder="Guild name" type="text" class="form-control col" id="guildFormName" value="">
			</form>
			<form class="row">
				<%# <label for="userFromNick" class="visually-hidden">Anagram</label> %>
				<input placeholder="Anagram (5 symbols)" type="text" class="form-control col" id="guildFormAnagram" value="">
			</form>
			<form class="row">
				<input type="submit" class="btn btn-outline-dark mb-3 col" value="create">
			</form>
		</div>
	</div>
</script>

<%= javascript_pack_tag 'index' %>