<div class='row'>
	<div class='col-1'></div>
	<div class='col-10 center_align lightText'>
		<h2 class='titletext'>
			Welcome to ft_transcendence site!
		</h2>
		<div style='margin-top: 20px'>
			The aim of this site is to play a <a class='rulesLink' href="https://en.wikipedia.org/wiki/Pong" target="_blank">pong game</a> from 1972.</p>	
		</div>
		<div class='row RulesRow'>
			<div class='col-4'>
				<div class='card RulesCard'>
					<a class='SimpleHref' href='/matches'>
						<div class="card-body">
        					<h5 class="titletext">GAME</h5>
      					</div>
					</a>
					<div class="list-group list-group-flush RulesCardLi" id="list-tab" role="tablist">
						<li class="list-group-item MatchesCreationList">
							You can play online pong game with your friends (friendly match) or with random users (rating match)
         				</li>
						<li class="list-group-item MatchesCreationList">
							Match lasts up to 7 points
         				</li>
						 <li class="list-group-item MatchesCreationList">
							If you leave game page before ending, your opponent will earn one point
         				</li>
						<li class="list-group-item MatchesCreationList">
							You can choose different types of game addons and their combinations: none, boost, dicso, epilepsy
         				</li>
						<li class="list-group-item MatchesCreationList">
							If the match is rating the difference in points will be counted as a rating (score). 
							You can check your score on yours 
							<a class='rulesLink' href="/profile/0">profile page</a>
							or on
							<a class='rulesLink' href="/leaderboard">leaderboard</a>
         				</li>
					</div>
				</div>
			</div>
			<div class='col-4'>
				<div class='card RulesCard'>
					<a class='SimpleHref' href='/tournaments'>
					 	<div class="card-body">
        					<h5 class="titletext">TOURNAMENT</h5>
      					</div>
					</a>
					<div class="list-group list-group-flush RulesCardLi" id="list-tab" role="tablist">
						<li class="list-group-item MatchesCreationList">
							Site admins and moderators are able to create tournaments
         				</li>
						<li class="list-group-item MatchesCreationList">
							Before the start of the tournament, everyone can join it
         				</li>
						<li class="list-group-item MatchesCreationList">
							Tournaments are scheduled for a specific time
         				</li>
						<li class="list-group-item MatchesCreationList">
							When the tournament starts, matches are created between all participants. 
							Chat with all your opponents and agree on the time of the match.
         				</li>
						<li class="list-group-item MatchesCreationList">
							When the tournament time ends, all matches end automatically
						</li>
						<li class="list-group-item MatchesCreationList">
							Prize points will be awarded to the winner of the tournament
						</li>
					</div>
				</div>
			</div>
			<div class='col-4'>
				<div class='card RulesCard'>
					<a class='SimpleHref' href='/wars'>
						<div class="card-body">
        					<h5 class="titletext">WAR</h5>
      					</div>
					</a>
					<div class="list-group list-group-flush RulesCardLi" id="list-tab" role="tablist">
						<li class="list-group-item MatchesCreationList">
							Any <a class='rulesLink' href="/guilds">guild</a> owner or guild officer can declare a war to another guild. Opponent guild can accept or decline the war.
         				</li>
						<li class="list-group-item MatchesCreationList">
							War date and time - date and time of the beginning and end of the war. The guild can accept the war only if no other war is sheluded at the same time.
         				</li>
						<li class="list-group-item MatchesCreationList">
							War addons - all the matches of the war will be with these addons
         				</li>
						<li class="list-group-item MatchesCreationList">
							War prize - the number of points that will be subtracted from the loser guild and awarded to the winner guild
         				</li>
					</div>
				</div>
			</div>
		</div>

		<div class='row RulesRow' style='margin-top: 25px;'>
			<div class='col-4'>
				<div class='card RulesCard RulesCard'>
					<a class='SimpleHref' href='/profile/0'>
						<div class="card-body">
        					<h5 class="titletext">PROFILE</h5>
      					</div>
					</a>
					<div class="list-group list-group-flush RulesCardLi" id="list-tab" role="tablist">
						<li class="list-group-item MatchesCreationList">
							On profile page you can find all information about your user. Statistics, guild information, matches, friends
         				</li>
						<li class="list-group-item MatchesCreationList">
							You can <a class='rulesLink' href="/users/edit/">edit</a> your profile avatar and nickname
         				</li>
						<li class="list-group-item MatchesCreationList">
							You can <a class='rulesLink' href="/users/edit/">enable/disable</a> two factor authentication. You can use 
							<a class='rulesLink' href="https://play.google.com/store/apps/details?id=com.google.android.apps.authenticator2&hl=ru&gl=US" target="_blank">this application</a>
         				</li>
						<li class="list-group-item MatchesCreationList">
							You can add other users to friends, delete from friends, accept or decline friend requests. You can block another user so that you won't see messages from him/her in <a class='rulesLink' href="/rooms">chat</a>
         				</li>
						<li class="list-group-item MatchesCreationList">
							You can invite other users in <a class='rulesLink' href="/matches">matches</a> or <a class='rulesLink' href="/guilds">guilds</a> from profile page
         				</li>
						<li class="list-group-item MatchesCreationList">
							You can create private chats with other users from their profile page
         				</li>
					</div>
				</div>
			</div>
			<div class='col-4'>
				<div class='card RulesCard'>
					<a class='SimpleHref' href='/guilds'>
						<div class="card-body">
        					<h5 class="titletext">GUILDS</h5>
      					</div>
					</a>
					<div class="list-group list-group-flush RulesCardLi" id="list-tab" role="tablist">
						<li class="list-group-item MatchesCreationList">
							You can create your own guild or join existing guild via invitation
         				</li>
						<li class="list-group-item MatchesCreationList">
							Guild owners can select guild logo and change name or anagram
         				</li>
						<li class="list-group-item MatchesCreationList">
							Guild owners can appoint a member as an officer
         				</li>
						<li class="list-group-item MatchesCreationList">
							Guild owners and officers are able to declare <a class='rulesLink' href="/wars">wars</a> to another guilds and to accept/decline war invitations
         				</li>
						<li class="list-group-item MatchesCreationList">
							All guild members can invite other users in their guilds (on user <a class='rulesLink' href="/profile/0">profile page</a>)
         				</li>
						<li class="list-group-item MatchesCreationList">
							Points earned by a guild member in any match are added to the guild score
						</li>
					</div>
				</div>
			</div>
			<div class='col-4'>
				<div class='card RulesCard'>
					<a class='SimpleHref' href='/rooms'>
						<div class="card-body">
        					<h5 class="titletext">CHAT</h5>
      					</div>
					</a>
					<div class="list-group list-group-flush RulesCardLi" id="list-tab" role="tablist">
						<li class="list-group-item MatchesCreationList">
							You can create, join or leave chat rooms to communicate with other users. Chat room can be public or you can set a password for the room
         				</li>
						<li class="list-group-item MatchesCreationList">
							You can create private chats with other users. Press 'send message' button on usres <a class='rulesLink' href="/profile/0">profile page</a> or tap on users message and choose 'direct' option
         				</li>
						<li class="list-group-item MatchesCreationList">
							By clicking on a message from a user, you can write him a private message, challenge him/her to a duel, block user
         				</li>
						<li class="list-group-item MatchesCreationList">
							If you are a room creator you can appoint a participant as a moderator
         				</li>
						<li class="list-group-item MatchesCreationList">
							If you are a room creator or a moderator can ban, kick or mute member for 1 minute
         				</li>
					</div>
				</div>
			</div>
		</div>

	</div>
	<div class='col-1'></div>
</div>





<% if user_signed_in? && current_user.is_banned? %>
	<h3>You account was blocked by administrator</h3>
<% elsif !user_signed_in? %>
	<h2>Hi!</h2>
<% end %>
<% if !user_signed_in? %>
	<%= link_to "Log in", new_session_path(User.new) %>
	<%= link_to "Sign up", new_registration_path(User.new) %>
<% end %>
