<div class = "message mb-2">
  <div class = "content-container">
    <div class = "messageContent">
      <%= message.content %>
    </div>
    <div class = "author">
      (<%= message.user.guild_id %>) <%= message.user.nickname %>
    </div>
  </div>
</div>
