<div class='TournamentsContent' style='min-width: 1000px'>
	<div class='row'>
		<div class='col-2'></div>
		<% if current_user.is_admin || current_user.is_moderator %>
		<div id='TournamentCreationForm' class='col' style='min-width: 340px'></div>
		<% end %>
		<div class='col-2'></div>
	</div>

	<div class='row'>
		<div class='col-1'></div>
		<div class='col' style='min-width: 660px'>
			<div class="row">
				<div class='card p-0' style='width: 98%'>
					<ul class="nav nav-tabs" id="myTab" role="tablist">
						<li class="nav-item" role="presentation">
							<button class="nav-link active" id="current-tab" data-bs-toggle="tab"
								data-bs-target="#current" type="button" role="tab" aria-controls="current" aria-selected="true">Current Tournaments</button>
						</li>
						<li class="nav-item" role="presentation">
							<button class="nav-link" id="planned-tab" data-bs-toggle="tab" data-bs-target="#planned"
								type="button" role="tab" aria-controls="planned" aria-selected="false">Planned Tournaments</button>
						</li>
						<li class="nav-item" role="presentation">
							<button class="nav-link" id="history-tab" data-bs-toggle="tab" data-bs-target="#history"
								type="button" role="tab" aria-controls="history" aria-selected="false">History Tournaments</button>
						</li>
					</ul>
					<div class="tab-content" id="myTabContent">
						<div class="tab-pane fade show active" id="current" role="tabpanel"
							aria-labelledby="current-tab">
							<div class='row' id='CurrentTournaments'>
							</div>
						</div>
						<div class="tab-pane fade" id="planned" role="tabpanel" aria-labelledby="planned-tab">
							<div class='row' id='PlannedTournaments'>
							</div>
						</div>
						<div class="tab-pane fade" id="history" role="tabpanel" aria-labelledby="contact-tab">
							<div class='row' id='HistoryTournaments'>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row ">
				<div class="col-2 mt-3 btn btn-outline-secondary" id="TournamentsTableRefresh" style='font-weight: lighter;'>REFRESH</div>
			</div>
		</div>
		<div class='col-1'></div>
	</div>
</div>


<!--
	TABLE TEMPLATE
-->
<script type="text/template" id="TournamentsTableTemplate">
	<table class="table table-striped matchesTable" id='<%%= type %>TournamentsTable'>
		<thead id='TournamentsTableThead'>
			<tr class='tableHeader'>
				<th scope="col" class='tableHeader'>Name</th>
				<th scope="col" class='tableHeader'>Prize</th>
				<th scope="col" class='tableHeader'>Members</th>
				<th scope="col" class='tableHeader'>Start date</th>
				<th scope="col" class='tableHeader'>Start time</th>
				<th scope="col" class='tableHeader'>End date</th>
				<th scope="col" class='tableHeader'>End time</th>
				<th scope="col" class='tableHeader'>Addons</th>
				<th colspan="3"></th>
			</tr>
		</thead>
	</table>
</script>

<!--
	TABLE ROW TEMPLATE
-->
<script type="text/template" id="TournamentsRowTemplate">

	<td><%%= name %></td>
	<td><%%= prize %></td>
	<td><%%= members.count %></td>
	<td>
		<%%= start_date.getDate() %>-<%%= start_date.toLocaleString('default', {month: 'short'}) %>-<%%= start_date.getFullYear() %>
	</td>
	<td>
		<%%= start_date.toLocaleTimeString('default', {timeZone: "Europe/Moscow", hour: '2-digit', minute:'2-digit'}) %>
	</td>
	<td>
		<%%= end_date.getDate() %>-<%%= end_date.toLocaleString('default', {month: 'short'}) %>-<%%= end_date.getFullYear() %>
	</td>
	<td>
		<%%= end_date.toLocaleTimeString('default', {timeZone: "Europe/Moscow", hour: '2-digit', minute:'2-digit'}) %> 
	</td>
	<td>
		<%%= addon_type %>
	</td>
	<td>
		<a type='button' class='btn btn-guild' id='ShowTournament' href='/tournaments/<%%= id %>'>
			Show
		</a>
	</td>
	<td id='<%%= type %>JoinTournament' style='display: none'>
		<a type='button' class='btn btn-guild' id='JoinTournament'>
			Join
		</a>
	</td>
</script>


<!--
	CREATION FORM TEMPLATE
-->
<script type="text/template" id="TournamentCreateTemplate">
	<div class='card col mb-3'>
		<div class="card-body center_align">
			<h3 class="card-title" style='font-weight: lighter;'>NEW TOURNAMENT</h3>
		</div>
		<div class="list-group list-group-flush" id="list-tab" role="tablist">

			<li class="list-group-item">
				<form class="row formTournaments">
					<input placeholder="Tournament name" type="text" class="form-control col formMatchesInput" id="formTournamentName" value="">
				</form>
			</li>

			<li class="list-group-item">
				<div class='row'>
					<div class='col-6 '>
						<div class="row">
							<div class="col-4 FormDateTitle">
								Date start
							</div>
							<div class="col">
								<form class="row formTournaments">
									<input type="date" class="form-control col formMatchesInput" id="formTournamentDateStart" value="">
								</form>
							</div>
						</div>
						<div class="row">
							<div class="col-4 FormDateTitle">
								Time start
							</div>
							<div class="col">
								<form class="row formTournaments">
									<input type="time" class="form-control col formMatchesInput" id="formTournamentTimeStart" value="">
								</form>
							</div>
						</div>
					</div>
					<div class='col-6 center_align'>
						<div class="row">
							<div class="col-4 FormDateTitle">
								Date end
							</div>
							<div class="col">
								<form class="row formTournaments">
									<input type="date" class="form-control col formMatchesInput" id="formTournamentDateEnd" value="">
								</form>
							</div>
						</div>
						<div class="row">
							<div class="col-4 FormDateTitle">
								Time end
							</div>
							<div class="col">
								<form class="row formTournaments">
									<input type="time" class="form-control col formMatchesInput" id="formTournamentTimeEnd" value="">
								</form>
							</div>
						</div>
					</div>
				</div>
			</li>
			<li class="list-group-item">
				<div class="FormDateTitle">
					Addons
				</div>
				<div class="row">
					<div class="col-6">
						<div class="form-check">
							<input class="form-check-input" type="radio" name="radioColor" id="AddonColorNone" value="" checked>
							<label class="form-check-label" for="AddonColorNone">
								None
							</label>
						</div>
						<div class="form-check">
							<input class="form-check-input" type="radio" name="radioColor" id="AddonColorDisco" value="disco">
							<label class="form-check-label" for="AddonColorDisco">
								Disco
							</label>
						</div>
						<div class="form-check">
							<input class="form-check-input" type="radio" name="radioColor" id="AddonColorEpilepsy" value="epilepsy">
							<label class="form-check-label" for="AddonColorEpilepsy">
								Epilepsy
							</label>
						</div>
					</div>
					<div class="col-6">
						<div class="form-check">
							<input class="form-check-input" type="checkbox" name="checkboxBoost" id="AddonBoost" value="boost">
							<label class="form-check-label" for="AddonBoost">
								Boost
							</label>
						</div>
					</div>
				</div>
			</li>
			<li class="list-group-item">
				<form class="row formTournaments">
					<input placeholder="Prize" type="text" class="form-control col formMatchesInput" id="formPrize" value="">
				</form>
			</li>
		</div>
	</div>
	<div class='row' style='text-align: center'>
		<form class="formTournaments">
			<input type="submit" class="btn btn-outline-secondary CreationBtn" value="CREATE">
		</form>
	</div>
</script>

<%= javascript_pack_tag 'tournaments' %>
