<div class="custom-footer">
	<div class="container">
		<p class="float-end mb-1">
			<a class="custom-link" aria-current="page" href="#">Back to top</a>
		</p>
		<p class="mb-1">This is school21 ft_transcendence project!</p>
		<p class="mb-0">Want to contact us? Visit our
			<a class="custom-link" aria-current="page" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">contact page</a>.
		</p>
	</div>
</div>
