@font-face {
		font-family: 'Beryozki';
		src: url('fonts/Beryozki.eot') format('embedded-opentype'),
		url('fonts/Beryozki.woff') format('woff');
		font-weight: normal;
		font-style: normal;
}

body {
		background-image: url('./images/background.png');
		margin-left: auto;
		margin-right: auto;
		width: 1400px;
		height: 100px;
}

.logo_main {
		display: block;
		margin-top: 128px;
		margin-left: auto;
		margin-right: auto;
}

.join_button {

		display: block;
		margin-top: 100px;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
}

.join_btn {
		text-decoration: none;
		position: relative;
		outline: none;
		display: inline-block;
		padding: 10px 100px;
		overflow: hidden;
		border: 2px solid;
		border-bottom-width: 4px;
		font-family: 'Comic Sans MS';
		text-transform: uppercase;
		font-size: 64px;
		letter-spacing: 2px;
		color:  #ff7f00;
		background: rgba(255,255,255,1);
	}

	.join_btn:hover {
		animation: stripes .75s infinite linear;
		background: linear-gradient(45deg, rgba(30,255,188,1) 25%, rgba(255,255,255,1) 25%, rgba(255,255,255,1) 50%, rgba(30,255,188,1) 50%,
		 rgba(30,255,188,1) 75%, rgba(255,255,255,1) 75%, rgba(255,255,255,1));
		background-size: 10px 10px;
		color:#FF50E5; 
		cursor: pointer;
		transition: color .3s, background .5s;

	}

	@keyframes stripes {
		0% {background-position: 0 0;}
		100% {background-position: 50px 0;}
	}

	.signin {
		display: none;
		background: rgba(0, 0, 0, 0.411);
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		margin-right: auto;
		margin-left: auto;
		transition: color .3s, background .5s;
	}

	.login_window {
		background: rgb(255, 255, 255);
		display: block;
		position: relative;
		width: 725px;
		height: 440px;
		margin-top: 200px;
		margin-right: auto;
		margin-left: auto;
		z-index: 2;
		border: 6px solid #2d7bad;
		border-radius: 10px;
		transition: color .3s, background .5s;
	}

	.close_window {
		background: #ff7f00;
		position: absolute;
		right: 0px;
		top: 0px;
		font-family: 'Comic Sans MS';
		text-transform: uppercase;
		color: #FFFFFF;
		border-radius: 100%;
		border: 2px solid #2d7bad;
		outline: none;
		margin-top: 10px;
		margin-right: 10px;
		z-index: 3;
	}

	.close_window:hover {
		outline: none;
		background: #2d7bad;
	}

	.name_input {

		float: left;
		width: 50%;
		margin-top: 95px;
	}

	.input_field {
		float: right;
		width: 50%;

	}

	.login_pass_label {
		font-family: 'Comic Sans MS';
		font-size: 35px;
		text-align: right;
		margin: 0px;
		margin-top: 3px;
		padding-right: 50px;
	}

	.input_field {
		position: relative;
		margin: 0px;
		padding-top: 100px;
	}

	.field {

		font-family: 'Comic Sans MS';
		font-size: 15px;
		border: 2px dashed #2d7bad;
		border-radius: 5px;
		height: 25px;
		width: 300px;
		margin-top: 16px;
		outline: none;
		padding: 0 10px;
		
	}