@import "bootstrap";

.debug_dump {
  clear: both;
  float: none;
  width: 100%;
  margin-top: 700px;
  color: red;
  font-size: 18px;
  font-weight: bold;
}

.img-avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

// .navbar-brand img {
//   height: 35px;
//   float: none;
//   margin-right: 7px;
// }

body {
//   overflow-y: hidden;
//   ::-webkit-scrollbar {
//     display: none;
//   }
//   -ms-overflow-style: none;
  box-sizing: border-box;
  position:relative;
  height: 100%;
}

.chat-room {
  height:90vh;

  #messages {
    height: 70%;
    overflow-y: scroll;
    padding: 20px;
  }

//   .navbar {
//     border-bottom: 1px solid #eeeeee;
//     margin-left: -15px;
//     width: calc(100% + 30px);
//   }

  .message {
    min-height: 59px;
    .content-container {
      display: inline-block;
      .msg-avatar {
        width: 30px;
        height: 30px;
        border-radius: 50%;
      }
      .messageContent {
        background-color: #eeeeee;
        padding: 8px 16px;
        border-radius: 20px;
        max-width: 500px;
        overflow-wrap: break-word;  /* не поддерживает IE, Firefox; является копией word-wrap */
        word-wrap: break-word;
        word-break: break-all;  /* не поддерживает Opera12.14, значение keep-all не поддерживается IE, Chrome */
        -webkit-hyphens: none; ​-ms-hyphens: none; hyphens: none;
      }
      .author {
        font-size: 0.8rem;
        color: #777777;
        margin-left: 10px;
      }
    }
    &.me {
      .content-container {
        float: right;
        .messageContent {
          background-color: #84a8cf;
          color: white;
        }
      }
    }
  }
  .chat-box {
    position: relative;
    bottom: -10px;
    padding: 20px;
    width: 100%;
    margin-left: -15px;
    background-color: white;
    border-top: 1px solid #eeeeee;
    input[type=text] {
      height: 45px;
      font-size: 18px;
      padding: 8px;
    }
    .btn {
      height: 45px;
    }
  }
}

.card.no-outline {
  border: none;
}

.rooms-bar {
  height: 50%;
  overflow-y: scroll;
  padding-bottom: 200px;
  padding-top: 20px;
  .room-link {
    &:hover {
     text-decoration: none;
    }
    .room-card {
     transition: background-color 0.5s ease;
      border-radius: 20px;
      &:hover {
      background-color: #eeeeee;
      }
      &.active {
        background-color: black;
        .name {
          color: white;
        }
        .member-count {
          color: #e0e0e0;
        }
      }
      .name {
        font-weight: bold;
        color: black;
      }
      .member-count {
        color: #777777;
        font-weight: light;
      }
    }
  }
}

.rooms-sidebar {
  border-right: 1px solid #eeeeee;
}

.custom-footer {
	color: rgba(0, 0, 0, .55) !important;
	background-color: rgba(248, 249, 250, 0.6);
	position: relative;
	padding-top: 3rem !important;
	padding-bottom: 3rem !important;
	bottom: 0;
	height: 145px;
	width: 100%;
}

.all_page {
	min-height: calc(100vh - 145px);
}

.content {
	margin: 20px;
}

.GuildCard {
	display: inline-block;
	margin: 10px;
}

.GuildButton {
  margin: 5px;
}

.list-group-item.active {
	z-index: 2;
	color: #fff;
	background-color: #82a4d7;
	border-color: #82a4d7;
}

#usersguild.list-group-item {
	background-color: #d9d9d954;
}

#usersguild.list-group-item.active {
	z-index: 2;
	color: #fff;
	background-color: #82a4d7;
	border-color: #82a4d7;
}

.btn-guild {
	background-color: #82a4d750;
}

.btn-guild.active {
	background-color: #82a4d786;
}

#GuildCard.badge {
	color: #00000063;
	font-weight: 100;
	font-size: 0.95em;
}

#GuildCard.bg-primary {
	background-color: #0d6dfd00 !important;
}

#UserInfoPhoto {
	text-align: center;
	margin: 20px 0px 15px;
}

#UserInfoEditBtn {
	width: 90%;
}

.UserInfoBtns {
	width: 90%;
}

.accordion-button {
	padding: 0.5rem 1.25rem;
}

.accordion-button::after {
	margin-right: auto;
}

.accordion-button:not(.collapsed) {
	background-color: #82a4d714;
}

#UserInfo {
	min-width: 300px;
	margin-bottom: 25px;
}

#UserGuild {
	margin-bottom: 25px;
}

.UserFriendIcon {
	text-align: center;
	font-size: 13px;
}

#UserRightCol {
	min-width: 570px;
}

.image-cropper {
	width: 100px;
	height: 100px;
	position: relative;
	overflow: hidden;
	border-radius: 50%;
}

.profile-pic {
	display: inline;
	margin: 0 auto;
	margin-left: -25%; //centers the image
	height: 100%;
	width: auto;
}

#UserGuildCardBody {
	padding-bottom: 0.3rem;
}

.InfoFieldText {
	min-width: 105px;
	color: #212529b8;
}

#UserButtons {
	text-align: center;
}

.UserGuildHref {
	color: black;
	text-decoration: none;
}
