@import "bootstrap";

.debug_dump {
  clear: both;
  float: none;
  width: 100%;
  margin-top: 700px;
  color: red;
  font-size: 18px;
  font-weight: bold;
}

.centr-block {
  margin-right: auto;
  margin-left: auto;
}

.removecaret.dropdown-toggle::after {
  display: none;
}

.img-avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

body {
  box-sizing: border-box;
  position:relative;
  height: 100%;
}

#online {
  display: inline;
}

.chat-room {
  height:90vh;

  #messages {
    height: 70%;
    overflow-y: scroll;
    padding: 20px;
  }

  .message {
    min-height: 59px;
    .content-container {
      display: inline-block;
      .msg-avatar {
        width: 30px;
        height: 30px;
        border-radius: 50%;
      }
      .messageContent {
        background-color: #eeeeee;
        padding: 8px 16px;
        border-radius: 20px;
        max-width: 500px;
        overflow-wrap: break-word;  /* не поддерживает IE, Firefox; является копией word-wrap */
        word-wrap: break-word;
        word-break: break-all;  /* не поддерживает Opera12.14, значение keep-all не поддерживается IE, Chrome */
        -webkit-hyphens: none; ​-ms-hyphens: none; hyphens: none;
      }
      .author {
        font-size: 0.8rem;
        color: #777777;
        margin-left: 10px;
      }
    }
    &.me {
      .content-container {
        float: right;
        .messageContent {
          background-color: #84a8cf;
          color: white;
        }
        .author {
          text-align: right;
        }
      }
    }
  }
  .chat-box {
    position: relative;
    bottom: -10px;
    padding: 20px;
    width: 100%;
    margin-left: -15px;
    background-color: white;
    border-top: 1px solid #eeeeee;
    input[type=text] {
      height: 45px;
      font-size: 18px;
      padding: 8px;
    }
    .btn {
      height: 45px;
    }
  }
}

.card.no-outline {
  border: none;
}

.rooms-bar {
  height: 50%;
  overflow-y: auto;
  padding-bottom: 200px;
  padding-top: 20px;
  .room-link {
    &:hover {
     text-decoration: none;
    }
    .room-card {
     transition: background-color 0.5s ease;
      border-radius: 20px;
      margin-right: 20px;
      &:hover {
      background-color: #eeeeee;
      }
      &.active {
        background-color: black;
        .name {
          color: white;
        }
        .member-count {
          color: #e0e0e0;
        }
      }
      .name {
        font-weight: bold;
        color: black;
      }
      .member-count {
        color: #777777;
        font-weight: light;
      }
    }
  }
}

.rooms-sidebar {
  border-right: 1px solid #eeeeee;
}

.custom-footer {
	color: rgba(0, 0, 0, .55) !important;
	background-color: rgba(248, 249, 250, 0.6);
	position: relative;
	padding-top: 3rem !important;
	padding-bottom: 3rem !important;
	bottom: 0;
	height: 145px;
	width: 100%;
}

.all_page {
	min-height: calc(100vh - 145px);
}

.content {
	margin: 20px;
}


//------------------------------------------------------------
// GUILD PAGE STYLES
//------------------------------------------------------------

// --- page construction ---
.PageBody {
	min-width: 850px;
}

#GuildList {
	min-width: 230px;
}

#GuildContent {
	min-width: 421px;
}
// -------------------------

.list-group-item.active {
	z-index: 2;
	color: #fff;
	background-color: #82a4d7;
	border-color: #82a4d7;
}

#usersguild.list-group-item {
	background-color: #d9d9d954;
}

#usersguild.list-group-item.active {
	z-index: 2;
	color: #fff;
	background-color: #82a4d7;
	border-color: #82a4d7;
}

.btn-guild {
	background-color: #82a4d750;
}

.btn-guild.active {
	background-color: #82a4d786;
}

#GuildCardBadge.badge {
	color: #00000063;
	font-weight: 100;
	font-size: 0.95em;
	background-color: #0d6dfd00 !important;
}


//------------------------------------------------------------
// PROFILE PAGE STYLES
//------------------------------------------------------------

// --- page construction ---
#UserLeftCol {
	min-width: 300px;
}

#UserInfo {
	margin-bottom: 25px;
}

#UserRightCol {
	min-width: 570px;
}

#UserGuild {
	margin-bottom: 25px;
}

#UserGuildCardBody {
	padding-bottom: 0.3rem;
}
// -------------------------

#UserInfoPhoto {
	text-align: center;
	margin: 20px 0px 15px;
}

.UserInfoBtns {
	margin-bottom: 10px;
	width: 90%;
}

.UserFriendIcon {
	text-align: center;
	font-size: 13px;
}

.InfoFieldText {
	min-width: 105px;
	color: #212529b8;
}

#UserInfoBannedStatus {
  background-color: #832525bd;
  margin-bottom: 10px;
  color: #eae4e4;
}


//------------------------------------------------------------
// ALL PURPOSE STYLES
//------------------------------------------------------------

.accordion-button {
	padding: 0.5rem 1.25rem;
}

.accordion-button::after {
	margin-right: auto;
}

.accordion-button:not(.collapsed) {
	background-color: #82a4d714;
}

.SimpleHref {
	color: black;
	text-decoration: none;
}

.AdminBtns {
	// margin-top: 10px;
	// background-color: #bf647e42;
	// background-color: #83252536;
	background-color: #ac3e3e36;
}

#UserButtons {
	text-align: center;
}

// .image-cropper {
// 	width: 100px;
// 	height: 100px;
// 	position: relative;
// 	overflow: hidden;
// 	border-radius: 50%;
// }

// .profile-pic {
// 	display: inline;
// 	margin: 0 auto;
// 	margin-left: -25%; //centers the image
// 	height: 100%;
// 	width: auto;
// }

// #BlockPage {
//   color: rgb(200, 10, 10);
//   margin: 20px;
// }

// #userFriendsNotification {
// 	border-radius: 30px;
// 	width: 30px;
// 	height: 30px;

// 	background-color: #82a4d7;
// 	display: inline-block;
// 	padding: 0.35em 0.65em;
// 	font-size: 0.75em;

// 	color: #fff;
// 	text-align: center;
// 	white-space: nowrap;
// 	vertical-align: baseline;
// }




.tableHeader {
	font-weight: lighter;
}

.tableHeader {
	font-weight: lighter;
	margin-left: 25px;
	margin-top: 15px;
}

.matchesTable {
	margin-bottom: 0px;
	text-align: center;
	font-weight: lighter;
	vertical-align: -moz-middle-with-baseline
}

.matchesTablePhotos {
	min-width: 35px;
}

.MatchesContent {
	text-align: -moz-center;
}

.formMatches {
	padding-right: 0px;
}

.formMatchesInput {
	border: 1px solid #fff0;
}

#MatchCreationForm {
	height: 250px;
}

.GameWrapper	{
  display: block;
  width: 960px;
  margin: 0 auto;
}
.gameDescription dl > dd {
  display: inline-block;
  margin: 0 10px 0 0;
  margin-bottom: 5px;
}
.gameDescription dl > dt {
  display: inline-block;
    border: 1px solid #d7d7d7;
    padding: 4px 6px;
    font-size: 10px;
    border-radius: 3px;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.1);
    margin-bottom: 5px;
}

.GuildInvitesList {
	text-align: center;
}

.GuildInviteTitle {
	margin-top: 35px;
}

.InviteGuildBtn {
	height: 70px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-right: 10px;
}

#UserBlocklistCard {
	margin-bottom: 25px;
}

.OnlineStatus {
  background: #d10d0d;
  border-radius: 50%;
  font-size: 8px;
  vertical-align: middle;
}

.FormDateTitle {
	margin-top: 7px;
	color: #6c757d;
}

.MiddleVerticalAlign {
	margin: auto;
}


.WarParams {
	margin-bottom: 20px;
}

.center_align {
	text-align: center;
}

.CreationBtn {
	font-weight: lighter;
	width: 300px;
	margin-bottom: 30px;
}

.TablePicText {
	width:100px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	margin-top: 12px;
}
.NavbarText {
	font-weight: lighter;
	font-size: large;
	text-transform: capitalize
}

// Светящийся текст нотификаций
@-webkit-keyframes pulsate {
  50% { color: #2fff2f; }
}
@keyframes pulsate {
  50% { color: #2fff2f; }
}
#N-Notify-pulsate {
  color: rgba(0, 0, 0, 0.55);
  -webkit-animation: pulsate 2s linear infinite;
  animation: pulsate 2s linear infinite;
}