<div class='MatchesContent row'>
	<div class='col-1'></div>
	<div class="col-3" style='min-width: 340px'>
		<div class='card col mb-3' id='MatchCreationForm'>
			<div class="card-body">
				<h6 class="card-title">New friendly match</h6>
			</div>
			<div class="list-group list-group-flush" id="list-tab" role="tablist">
				<li class="list-group-item">
					<form class="row formMatches">
						<input placeholder="Nickname of your opponent" type="text" class="form-control col formMatchesInput" id="formPlayer2Nickname" value="">
					</form>
				</li>
				<li class="list-group-item">
					<form class="row formMatches">
						<input placeholder="Addons" type="text" class="form-control col formMatchesInput" id="formAddons" value="">
					</form>
<%# 
					<form class="row formMatches">
						<p><input name="AddonDisco" type="checkbox" id="formAddonDisco" value=""> Disco</p>
						<p><input name="AddonBoost" type="checkbox" id="formAddonBoost" value=""> Boost</p>
						<p><input name="AddonEpilepsy" type="checkbox" id="formAddonEpilepsy" value=""> Epilepsy</p>
					</form> %>
				<%# </li> %>
					
				<%# <li class="list-group-item">
					<div class="row">
						<div class="col-6">
							<div class="form-check">
								<input class="form-check-input" type="radio" name="radioColor" id="AddonColorNone" value="false">
								<label class="form-check-label" for="gridRadios2">
									None
								</label>
							</div>
							<div class="form-check">
								<input class="form-check-input" type="radio" name="radioColor" id="AddonColorDisco" value="false">
								<label class="form-check-label" for="gridRadios1">
									Disco
								</label>
							</div>
							<div class="form-check disabled">
								<input class="form-check-input" type="radio" name="radioColor" id="AddonColorEpilepsy" value="false">
								<label class="form-check-label" for="gridRadios3">
									Epilepsy
								</label>
							</div>
						</div>
						<div class="col-6">
							<div class="form-check">
								<input class="form-check-input" type="checkbox" name="checkboxBoost" id="AddonBoost" value="false">
								<label class="form-check-label" for="gridRadios2">
									Boost
								</label>
							</div>
						</div>
					</div>
				</li> %>

				<li class="list-group-item">
					<form class="row formMatches">
						<input type="submit" class="btn btn-outline-secondary col" value="create">
					</form>
				</li>
			</div>
		</div>

		<div class='card col mb-3' id='RandomMatchCreationForm'>
			<div class="card-body">
				<h6 class="card-title">New rating match</h6>
			</div>
			<div class="list-group list-group-flush" id="list-tab" role="tablist" style="border-top: 0px;">
				<li class="list-group-item">
					<div class="row formMatches">
						<span id="RandomMatchCreationButton" class="btn btn-outline-secondary col">create</span>
					</div>
				</li>
			</div>
		</div>
		<div id='TournamentCreationForm'></div>
		<% if current_user.guild_id? && (current_user.guild.owner_id == current_user.id || current_user.is_officer) %>
			<div id='WarCreationForm'></div>
		<% end %>
	<%# class='card col %>
	</div>

	<div class='col-7' style='min-width: 660px'>
		<div class='card' style='width: 98%'>
			<ul class="nav nav-tabs" id="myTab" role="tablist">
				<li class="nav-item" role="presentation">
					<button class="nav-link active" id="current-tab" data-bs-toggle="tab" data-bs-target="#current" type="button" role="tab" aria-controls="current" aria-selected="true">Current Matches</button>
				</li>
				<li class="nav-item" role="presentation">
					<button class="nav-link" id="planned-tab" data-bs-toggle="tab" data-bs-target="#planned" type="button" role="tab" aria-controls="planned" aria-selected="false">Planned Matches</button>
				</li>
				<li class="nav-item" role="presentation">
					<button class="nav-link" id="history-tab" data-bs-toggle="tab" data-bs-target="#history" type="button" role="tab" aria-controls="history" aria-selected="false">History Matches</button>
				</li>
			</ul>
			<div class="tab-content" id="myTabContent">
				<div class="tab-pane fade show active" id="current" role="tabpanel" aria-labelledby="current-tab">
					<div class='row' id='CurrentMatches'>
					</div>
				</div>
				<div class="tab-pane fade" id="planned" role="tabpanel" aria-labelledby="planned-tab">
					<div class='row' id='PlannedMatches'>
					</div>
				</div>
				<div class="tab-pane fade" id="history" role="tabpanel" aria-labelledby="contact-tab">
					<div class='row' id='HistoryMatches'>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class='col-1'></div>
</div>


<!--
	TABLE TEMPLATE
-->
<script type="text/template" id="MatchesTableTemplate">

		<!--<div>
			<h4 class='tableHeader'> <%%= type %> matches </h3>
		</div>
		<div class="card col-8">-->
		<table class="table table-striped matchesTable" id='<%%= type %>MatchesTable'>
			<thead id='MatchesTableThead'>
				<tr class='tableHeader'>
				<!--<th colspan="1" class='tableHeader'></th>-->
				<th scope="col" class='tableHeader'>Player-1</th>
				<th scope="col" class='tableHeader'>Player-2</th>
				<th scope="col" class='tableHeader'>Score</th>
				<th scope="col" class='tableHeader'>Guild-1</th>
				<th scope="col" class='tableHeader'>Guild-2</th>
				<th scope="col" class='tableHeader'>Addons</th>
				<th colspan="3"></th>
				</tr>
			</thead>
		</table>

</script>

<!--
	TABLE ROW TEMPLATE
-->
<script type="text/template" id="MatchesRowTemplate">
	<td>
		<div class="row justify-content-md-center">
			<div class='col-lg-2 matchesTablePhotos'>
				<a href='/profile/<%%= player1.id %>'>
					<img width="30" height="30" class="rounded-circle" src=<%%= player1.avatar.url %>>
				</a>
			</div>
			<div class='col-lg-2' style="width:100px; white-space: nowrap; text-overflow: ellipsis; overflow: hidden">
				<%%= player1.nickname %>
			</div>
		</div>
	</td>
	<td>
		<div class="row justify-content-md-center">
			<div class='col-lg-2 matchesTablePhotos'>
				<a href='/profile/<%%= player2.id %>'>
					<img width="30" height="30" class="rounded-circle" src=<%%= player2.avatar.url %>>
				</a>
			</div>
			<div class='col-lg-2' style="width:100px; white-space: nowrap; text-overflow: ellipsis; overflow: hidden">
				<%%= player2.nickname %>
			</div>
		</div>
	</td>
	<td><%%= player1_score %> - <%%= player2_score %></td>
	<td>
		<div class='row justify-content-md-center'>
			<div class='col-lg-2 matchesTablePhotos'>
				<a href='/guilds'>
					<img width="30" height="30" class="rounded-circle" src=<%%= (guild_1 == null) ? "/assets/default-avatar.jpg" : guild_1.logo.url %>>
				</a>
			</div>
			<div class='col-lg-2' style="width:70px; white-space: nowrap; text-overflow: ellipsis; overflow: hidden">
				<%%= (guild_1 == null) ? "none" : guild_1.anagram %>
			</div>
		</div>
	</td>
	<td>
		<div class='row justify-content-md-center'>
			<div class='col-lg-2 matchesTablePhotos'>
				<a href='/guilds'>
					<img width="30" height="30" class="rounded-circle" src=<%%= (guild_2 == null) ? "/assets/default-avatar.jpg" : guild_2.logo.url %>>
				</a>
			</div>
			<div class='col-lg-2' style="width:70px; white-space: nowrap; text-overflow: ellipsis; overflow: hidden">
				<%%= (guild_2 == null) ? "none" : guild_2.anagram %>
			</div>
		</div>
	</td>
	<td>none</td>
	<td>
		<a type='button' class='btn btn-guild' id='ShowMatch' href='/matches/<%%= id %>'>
			Show
		</a>
	</td>
	<% if current_user.is_admin? || current_user.is_moderator? %>
		<td>
			<button type='button' class='btn btn-guild' id='DeleteMatch'>
				Delete
			</button>
		</td>
	<% end %>
</script>

<script type="text/template" id="WarCreateTemplate">
	<div class='card col mb-3'>
		<div class="card-body">
			<h6 class="card-title">New guild war</h6>
		</div>
		<div class="list-group list-group-flush" id="list-tab" role="tablist">
			<li class="list-group-item">
				<form class="row formMatches">
					<input placeholder="Guildname of your opponent" type="text" class="form-control col formMatchesInput" id="formGuild2Name" value="">
				</form>
			</li>

			<li class="list-group-item">
				<div class="row">
					<div class="col-4 FormDateTitle">
						Date start
					</div>
					<div class="col">
						<form class="row formMatches">
							<input type="date" class="form-control col formMatchesInput" id="formWarDateStart" value="">
						</form>
					</div>
				</div>
				<div class="row">
					<div class="col-4 FormDateTitle">
						Time start
					</div>
					<div class="col">
						<form class="row formMatches">
							<input type="time" class="form-control col formMatchesInput" id="formWarTimeStart" value="">
						</form>
					</div>
				</div>
			</li>

			<li class="list-group-item">
				<div class="row">
					<div class="col-4 FormDateTitle">
						Date start
					</div>
					<div class="col">
						<form class="row formMatches">
							<input type="date" class="form-control col formMatchesInput" id="formWarDateEnd" value="">
						</form>
					</div>
				</div>
				<div class="row">
					<div class="col-4 FormDateTitle">
						Time start
					</div>
					<div class="col">
						<form class="row formMatches">
							<input type="time" class="form-control col formMatchesInput" id="formWarTimeEnd" value="">
						</form>
					</div>
				</div>
			</li>

			<li class="list-group-item">
				<form class="row formMatches">
					<input placeholder="Addons" type="text" class="form-control col formMatchesInput" id="formAddons" value="">
				</form>
			</li>
			<li class="list-group-item">
				<form class="row formMatches">
					<input placeholder="Prize" type="text" class="form-control col formMatchesInput" id="formPrize" value="">
				</form>
			</li>
			<li class="list-group-item">
				<form class="row formMatches">
					<input type="submit" class="btn btn-outline-secondary col" value="create">
				</form>
			</li>
		</div>
	</div>
</script>

<%= javascript_pack_tag 'matches' %>
