<div id="MatchID" data-MatchID="<%= @match.id %>"></div>
<!--
<p id="notice"><%= notice %></p>
-->

<div class="row">

  <div id="MatchUser1Profile" class="col-2"></div>
  <div id="GameWrapper" class="col-8"></div>
  <div id="MatchUser2Profile" class="col-2"></div>

</div>


<%# ШАБЛОНЫ %>

<%# СТАРТ ИГРЫ %>
<script type="text/template" id="GameStartTemplate">
  <canvas id="gameCanvas" width="960" height="600"></canvas>
  <div class="gameDescription">
    <dl>
      <dt>W</dt> <dd>- вверх</dd>
      <dt>S</dt> <dd>- вниз</dd> <br>
      <dt id="btn-enter">Enter</dt> <dd>- пуск шарика</dd>
    </dl>
  </div>
</script>

<%# ПОЛЬЗОВАТЕЛЬ 1 %>
<script type="text/template" id="MatchUser1ProfileTemplate">
  <p>
    <img width="50px" height="50px" class="rounded-circle" src=<%%= player1.avatar.url %>> 
  </p>
  <p>
    Nickname: <%%= player1.nickname %> 
  </p>
  <p>
    Guild:
    <%%= (guild_1 == null) ? "none" : guild_1.name %>
  </p>
  <p>
    Score: <span id="MatchPlayer1Score"><%%= player1_score %></span>
  </p>
  <p id="MatchPlayer1Online">
  </p>
</script>

<%# ПОЛЬЗОВАТЕЛЬ 2 %>
<script type="text/template" id="MatchUser2ProfileTemplate">
  <p>
    <img width="50px" height="50px" class="rounded-circle" src=<%%= player2.avatar.url %>> 
  </p>
  <p>
    Nickname: <%%= player2.nickname %> 
  </p>
  <p>
    Guild: <%%= (guild_2 == null) ? "none" : guild_2.name %> 
  </p>
  <p>
    Score: <span id="MatchPlayer2Score"><%%= player2_score %></span>
  </p>
  <p id="MatchPlayer2Online">
  </p>
</script>

<%# РЕЗУЛЬТАТ ПОСЛЕ ОКОНЧАНИЯ ИГРЫ %>
<script type="text/template" id="MatchResultTemplate">

  <div class="row m-3"><h4>Матч завершился</h4></div>

  <div class="row">
    <div class="col-6">
      <p>
        <img width="150px" height="150px" class="rounded-circle" src=<%%= player1.avatar.url %>> 
      </p>
      <p>
        Nickname: <%%= player1.nickname %> 
      </p>
      <p>
        Guild: <%%= (guild_1 == null) ? "none" : guild_1.name %>
      </p>
      <p>
        <h4><%%= player1_score %></h4>
      </p>
    </div>
   
    <div class="col-6">
      <p>
        <img width="150px" height="150px" class="rounded-circle" src=<%%= player2.avatar.url %>> 
      </p>
      <p>
        Nickname: <%%= player2.nickname %> 
      </p>
      <p>
        Guild: <%%= (guild_2 == null) ? "none" : guild_2.name %> 
      </p>
      <p>
        <h4><%%= player2_score %></h4>
      </p>
    </div>
  </div>
</script>

<%= javascript_pack_tag 'pingpong' %>
