<div id="MatchID" data-MatchID="<%= @match.id %>"></div>
<!--
<p id="notice"><%= notice %></p>
-->

<div class="row">

  <div id="MatchUser1Profile" class="col-2"></div>

    <%# Игра %>
    
  <div class="col-8">
    <div class="game__wrapper">
      <canvas id="pingpong" width="960" height="600"></canvas>
      <div class="game__description">
        <dl>
          <dt>W</dt> <dd>- вверх</dd>
          <dt>S</dt> <dd>- вниз</dd> <br>
          <dt id="btn-enter">Enter</dt> <dd>- пуск шарика</dd>
        </dl>
      </div>
    </div>
    <style>
    body {
      font-family: 'Arial', sans-serif;
    }
      .game__wrapper	{
        display: block;
        width: 960px;
        margin: 0 auto;
      }
      .game__description dl > dd {
        display: inline-block;
        margin: 0 10px 0 0;
        margin-bottom: 5px;
      }
      .game__description dl > dt {
        display: inline-block;
          border: 1px solid #d7d7d7;
          padding: 4px 6px;
          font-size: 10px;
          border-radius: 3px;
          box-shadow: 2px 2px 2px rgba(0,0,0,0.1);
          margin-bottom: 5px;
      }
    </style>
  </div>

  <div id="MatchUser2Profile" class="col-2"></div>

</div>


<%# ШАБЛОНЫ %>

<%# ПОЛЬЗОВАТЕЛЬ 1 %>
<script type="text/template" id="MatchUser1ProfileTemplate">
  <ul>
    <li>
      <img width="50px" height="50px" class="rounded-circle" src=<%%= player1.avatar.url %>> 
    </li>
    <li>
      Nickname: <%%= player1.nickname %> 
    </li>
    <li>
      Guild: <%%= guild_1.name %> 
    </li>
    <li id="MatchPlayer1Score">
      Score: <%%= player1_score %> 
    </li>
    <li id="MatchPlayer1Online">
    </li>
  </ul>
</script>

<%# ПОЛЬЗОВАТЕЛЬ 2 %>
<script type="text/template" id="MatchUser2ProfileTemplate">
  <ul>
    <li>
      <img width="50px" height="50px" class="rounded-circle" src=<%%= player2.avatar.url %>> 
    </li>
    <li>
      Nickname: <%%= player2.nickname %> 
    </li>
    <li>
      Guild: <%%= guild_2.name %> 
    </li>
    <li id="MatchPlayer2Score">
      Score: <%%= player2_score %> 
    </li>
    <li id="MatchPlayer2Online">
    </li>
  </ul>
</script>


<%= javascript_pack_tag 'pingpong' %>
