
<% if user_signed_in? && current_user.is_banned? %>
	<h3>You account was blocked by administrator</h3>
<% elsif !user_signed_in? %>
	<h2>Hi!</h2>
<% end %>
<% if !user_signed_in? %>
	<%= link_to "Log in", new_session_path(User.new) %>
	<%= link_to "Sign up", new_registration_path(User.new) %>
<% end %>