<!--
	PAGE STRUCTURE
-->
<div id="UserProfilePage">
<div class='row justify-content-center'>
	<div class='col-3' id='UserLeftCol'>
		<div id='UserInfo'></div>
		<div id='UserBlocklist'></div>
	</div>
	<div class='col-6' id='UserRightCol'>
		<div class='row' id='UserGuild'></div>
		<div class='row' id='UserFriends'></div>
		<div class='row' id='UserFriendRequests'></div>
	</div>
</div>
<div class='row justify-content-center'>
	<div class='col-9' id='UserMatches'></div>
</div>


<!--
	GUILD CARD TEMPLATE
-->
<script type="text/template" id="UserGuildTemplate">
	<div class="card" id="UserGuildCard">
		<div class="card-body" id="UserGuildCardBody">
			<h5 class="card-title">GUILD</h5>
		</div>
		<div class="list-group list-group-flush" id="list-tab" role="tablist">
			<li class="list-group-item" id='guildInfo'>
				<div class='row'>
					<div class='col-2' style='min-width: 100px'>
						<a href="/guilds">
							<img width="90" height="90" class="rounded-circle" src=<%%= logo.url %>>
						</a>
					</div>
					<div class='col-10 col-sm-7' >
						<div class='row'>
							<a href="/guilds" style="text-decoration-line: none; color: black">
								<h5 class='col'><%%= name %></h5>
							</a>
						</div>
						<div class='row'>
							<div class='col'>
								<div class='row'>
									<div class='col-5 InfoFieldText'>Rating:</div>
									<div class='col'><%%= rating %></div>
								</div>
								<div class='row'>
									<div class='col-5 InfoFieldText'>Score:</div>
									<div class='col'><%%= score %></div>
								</div>
							</div>
							<div class='col'>
								<div class='row'>
									<div class='col-5 InfoFieldText'>War:</div>
									<div class='col'>no</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</li>
			<li class="list-group-item" id="inviteGuildBtn">
				<button id="UserInfoInviteBtn" type="button" class="btn card-link btn-guild mx-auto">
						Invite user to my guild
				</button>
			</li>
			<div class="accordion accordion-flush" id="accordionFlushGuild">
				<div class="accordion-item">
    				<h2 class="accordion-header" id="flush-headingGuild">
    					<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseGuild" aria-expanded="false" aria-controls="flush-collapseGuild">
      					</button>
    				</h2>
    				<div id="flush-collapseGuild" class="accordion-collapse collapse" aria-labelledby="flush-headingGuild" data-bs-parent="#accordionFlushGuild">
      					<div class="accordion-body">
							<div class='row d-flex justify-content-center' id='UserGuildInvites'>

							</div>
						</div>
    				</div>
  				</div>
  			</div>
		</div>
	</div>
</script>

<!--
	NO GUILD CARD TEMPLATE
-->
<script type="text/template" id="UserNoGuildTemplate">
	<div class="card" id="UserGuildCard">
		<div class="card-body" id="UserGuildCardBody">
			<h5 class="card-title">GUILD</h5>
		</div>
		<div class="list-group list-group-flush" id="list-tab" role="tablist">
			<li class="list-group-item" href='/guilds' id='guildInfo'>
				<a href='/guilds' class='SimpleHref'>
					Click here to join a guild
				</a>
			</li>
			<li class="list-group-item" id="inviteGuildBtn">
				<button id="UserInfoInviteBtn" type="button" class="btn card-link btn-guild mx-auto">
					Invite user to my guild
				</button>
			</li>
			<div class="accordion accordion-flush" id="accordionFlushGuild">
				<div class="accordion-item">
    				<h2 class="accordion-header" id="flush-headingGuild">
    					<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseGuild" aria-expanded="false" aria-controls="flush-collapseGuild">
      					</button>
    				</h2>
    				<div id="flush-collapseGuild" class="accordion-collapse collapse" aria-labelledby="flush-headingGuild" data-bs-parent="#accordionFlushGuild">
      					<div class="accordion-body">
							<div class='row d-flex justify-content-center' id='UserGuildInvites'>

							</div>
						</div>
    				</div>
  				</div>
  			</div>
		</div>
	</div>
</script>

<script type="text/template" id="MatchesRowTemplate">
	<td class="col">
		<div class='matchesTablePhotos'>
			<a href='/profile/<%%= player1.id %>'>
				<img width="30" height="30" class="rounded-circle" src=<%%= player1.avatar.url %>>
			</a>
		</div>
	</td>
	<td class="col" style="width:80px; white-space: nowrap; text-overflow: ellipsis; overflow: hidden">
		<a href='/profile/<%%= player1.id %>' class='SimpleHref'>
			<%%= player1.nickname %>
		</a>
	</td>
	<td class="col">
		<div class='matchesTablePhotos'>
			<a href='/profile/<%%= player2.id %>'>
				<img width="30" height="30" class="rounded-circle" src=<%%= player2.avatar.url %>>
			</a>
		</div>
	</td>
	<td class="col" style="width:80px; white-space: nowrap; text-overflow: ellipsis; overflow: hidden">
		<a href='/profile/<%%= player2.id %>' class='SimpleHref'>
			<%%= player2.nickname %>
		</a>
	</td>
	<td class="col"><%%= player1_score %> - <%%= player2_score %></td>
	<td class="col">
		<div class='matchesTablePhotos'>
			<a href='/guilds'>
				<img width="30" height="30" class="rounded-circle" src=<%%= (guild_1 == null) ? "/assets/default-avatar.jpg" : guild_1.logo.url %>>
			</a>
		</div>
	</td>
	<td class="col" style="width:70px; white-space: nowrap; text-overflow: ellipsis; overflow: hidden">
		<%%= (guild_1 == null) ? "none" : guild_1.anagram %>
	</td>
	<td class="col">
		<div class='matchesTablePhotos'>
			<a href='/guilds'>
				<img width="30" height="30" class="rounded-circle" src=<%%= (guild_2 == null) ? "/assets/default-avatar.jpg" : guild_2.logo.url %>>
			</a>
		</div>
	</td>
	<td class="col" style="width:70px; white-space: nowrap; text-overflow: ellipsis; overflow: hidden">
		<%%= (guild_2 == null) ? "none" : guild_2.anagram %>
	</td>
	<td class="col" style="width:70px; white-space: nowrap; text-overflow: ellipsis; overflow: hidden">
		<%%= status %>
	</td>
	<td class="col">
		<a type='button' class='btn btn-guild' id='ShowMatch' href='/matches/<%%= id %>'>
			Show
		</a>
	</td>
</script>

<!--
	MATCHES CARD TEMPLATE
-->
<script type="text/template" id="UserMatchesTemplate">
	<div class="card" id='MatchesCard'>
		<div class="card-body">
			<h5 class="card-title">MATCHES</h5>
		</div>
		<div class="list-group list-group-flush" id="list-tab" role="tablist">
			<li class="list-group-item" id='MacthesList'>

			</li>
			<div class="accordion accordion-flush" id="accordionFlushMatches">
				<div class="accordion-item">
    				<h2 class="accordion-header" id="flush-matches">
    					<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseMatches" aria-expanded="false" aria-controls="flush-collapseMatches">
      					</button>
    				</h2>
    				<div id="flush-collapseMatches" class="accordion-collapse collapse" aria-labelledby="flush-matches" data-bs-parent="#accordionFlushMatches">
      					<div class="accordion-body" id="MacthesListAll">

						</div>
    				</div>
  				</div>
  			</div>
		</div>
	</div>
</script>



<!--
	BLOCKLIST CARD TEMPLATE
-->
<script type="text/template" id="UserBlocklistTemplate">
	<div class="card" id='UserBlocklistCard'>
		<div class="card-body" id="UserGuildCardBody">
			<h5 class="card-title">BLOCKLIST</h5>
		</div>
		<div class="list-group list-group-flush" id="list-tab" role="tablist">
			<li class="list-group-item" id='UserBlocklistIcons'>

			</li>
			<div class="accordion accordion-flush" id="accordionFlushExample3">
				<div class="accordion-item">
    				<h2 class="accordion-header" id="flush-matches">
    					<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseBlock" aria-expanded="false" aria-controls="flush-collapseBlock">
      					</button>
    				</h2>
    				<div id="flush-collapseBlock" class="accordion-collapse collapse" aria-labelledby="flush-matches" data-bs-parent="#accordionFlushExample3">
      					<div class="accordion-body" id='UserBlocklistIconsAll'>

						</div>
    				</div>
  				</div>
  			</div>
		</div>
	</div>
</script>

<script type="text/template" id="BlocklistIconTemplate">
		<a class='col-3' style="margin-bottom: 10px;" id='BlocklistHref<%%= id %>'>
			<div>
				<img width="50px" height="50px" class="rounded-circle" style="margin-top: 10px;" src=<%%= avatar.url %>>
			</div>
		</a>
		<a class='col SimpleHref' style="margin-top: 22px; width: 30%;" id='BlocklistHrefName<%%= id %>'>
			<div style="white-space: nowrap; text-overflow: ellipsis; overflow: hidden">
				<%%= nickname %>
			</div>
		</a>
		<button id="UserUnblockBtn" type="button" class="col btn card-link btn-guild mx-auto UserInfoBtns" style="margin-top: 10px; margin-bottom: 10px">
			unblock
		</button>
</script>

<script type="text/template" id="GuildInviteTemplate">
		<a class='col SimpleHref' style="margin-bottom: 10px;" id='BlocklistHref<%%= id %>' href='/profile/<%%= inviter.id %>'>
			<div class='row'>
				<div class='col-12'>
					<img width="70px" height="70px" class="rounded-circle" style="margin-top: 10px;" src=<%%= inviter.avatar.url %>>
				</div>
				<div class='col-12'>
					<%%= inviter.nickname %>
				</div>
			</div>
		</a>
		<div class='col GuildInviteTitle'>
			invited you in
		</div>
		<a class='col SimpleHref' style="margin-bottom: 10px;" id='BlocklistHref<%%= id %>'>
			<div class='row'>
				<div class='col-12'>
					<img width="70px" height="70px" class="rounded-circle" style="margin-top: 10px;" src=<%%= guild.logo.url %>>
				</div>
				<div class='col-12'>
					<%%= guild.anagram %>
				</div>
			</div>
		</a>
		<button id="AcceptGuildInvitationBtn" type="button" class="col btn card-link btn-guild UserInfoBtns InviteGuildBtn">
			accept
		</button>
		<button id="DeclineGuildInvitationBtn" type="button" class="col btn card-link btn-guild UserInfoBtns InviteGuildBtn">
			decline
		</button>
</script>

<!--
	INFO CARD TEMPLATE
-->
<script type="text/template" id="UserInfoTemplate">
	<div class="card">
		<div class="card-body">
			<div id="UserInfoPhoto">
				<img width="90%" class="rounded" src=<%%= avatar.url %>>

			</div>
			<div class="d-grid gap-2 mx-auto" id="UserInfoBtn">
				<!-- <a href="/users/edit/" style="text-align: center;">
					<button type="button" class="btn card-link btn-guild mx-auto" id="UserInfoEditButton">Edit Profile</button>
				</a> -->
			</div>
		</div>
		<div class="list-group list-group-flush" id="list-tab" role="tablist">
			<li class="list-group-item">
				<div class='row'>
					<div class='col-4 UserInfoField InfoFieldText'>Nickname:</div>
					<div class='col'><%%= nickname %></div>
				</div>
			</li>
			<li class="list-group-item">
				<div class='row'>
					<div class='col-4 UserInfoField InfoFieldText'>Email:</div>
					<div class='col'><%%= email %></div>
				</div>
			</li>
			<li class="list-group-item">
				<div class='row'>
					<div class='col-4 UserInfoField InfoFieldText'>Score:</div>
					<div class='col'><%%= score %></div>
				</div>
			</li>
			<li class="list-group-item">
				<div class='row'>
					<div class='col-4 UserInfoField InfoFieldText'>Loses:</div>
					<div class='col'><%%= loses %></div>
				</div>
			</li>
			<li class="list-group-item">
				<div class='row'>
					<div class='col-4 UserInfoField InfoFieldText'>Wins:</div>
					<div class='col'><%%= wins %></div>
				</div>
			</li>
			<li class="list-group-item" id='LastBlockUserInfo'>
				<div class='row' id='BlockUnblockUser' style="text-align: center;">
				</div>
			</li>
		</div>
	</div>
</script>


<!-- -------------------- BUTTONS ------------------------- -->
<!-- INFO ADMIN BUTTON TEMPLATE -->
<script type="text/template" id="UserInfoBtnTemplate">
	<button id="UserInfo<%%= btn_title %>Btn" type="button" class="btn card-link btn-guild mx-auto UserInfoBtns"  style="color: #212529b8;">
		<%%= btn_text %>
	</button>
</script>

<script type="text/template" id="UserInfoAdminBtnTemplate">
	<button id="UserInfo<%%= btn_title %>Btn" type="button" class="btn card-link btn-guild mx-auto UserInfoBtns AdminBtns"  style="color: #212529b8;">
		<%%= btn_text %>
	</button>
</script>


<!-- INFO EDIT BUTTON TEMPLATE -->
<script type="text/template" id="UserInfoEditBtnTemplate">
	<a href="/users/edit/" style="text-align: center;">
		<button type="button" class="btn card-link btn-guild mx-auto UserInfoBtns">
			EDIT PROFILE
		</button>
	</a>
</script>


<!-- INFO BANNED STATUS -->
<script type="text/template" id="UserInfoBannedStatusTemplate">
	<div id="UserInfoBannedStatus" class="btn card-link btn-guild mx-auto UserInfoBtns">
		BANNED
	</div>
</script>
<!-- --------------------------------------------------------->

<!--
	FRIENDS CARD TEMPLATE
-->
<script type="text/template" id="UserFriendsTemplate">
	<div class="card" id="UserFriendsCard">
		<div class="card-body" id="UserGuildCardBody">
			<h5 class="card-title ms-2 me-auto">
				FRIENDS
				<!--<span id="userFriendsNotification">4</span>-->
			</h5>
		</div>
		<div class="list-group list-group-flush" id="list-tab" role="tablist">
			<li class="list-group-item">
				<div class='d-flex justify-content-center' id='UserFriendsIcons'>

				</div>
			</li>
			<div class="accordion accordion-flush" id="accordionFlushExample">
				<div class="accordion-item">
    				<h2 class="accordion-header" id="flush-headingOne">
    					<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
      					</button>
    				</h2>
    				<div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
      					<div class="accordion-body">
							<div class='row d-flex justify-content-center' id='UserFriendsIconsAll'>

							</div>
						</div>
    				</div>
  				</div>
  			</div>
		</div>
	</div>
	<div id="UserInfoButtons" class="card-body">
	</div>
</script>


<!--
	FRIEND REQUESTS CARD TEMPLATE
-->
<script type="text/template" id="UserFriendRequestsTemplate">
	<div class="card" id="UserFriendRequestsCard">
		<div class="card-body" id="UserGuildCardBody">
			<h5 class="card-title ms-2 me-auto">
				FRIEND REQUESTS
				<!--<span id="userFriendsNotification">4</span>-->
			</h5>
		</div>
		<div class="list-group list-group-flush" id="list-tab" role="tablist">
			<li class="list-group-item">
				<div class='d-flex justify-content-center' id='UserFriendRequestsIcons'>

				</div>
			</li>
			<div class="accordion accordion-flush" id="UserFriendRequestsIconsFlash">
				<div class="accordion-item">
    				<h2 class="accordion-header" id="flush-headingTwo">
    					<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
      					</button>
    				</h2>
    				<div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#UserFriendRequestsIconsFlash">
      					<div class="accordion-body">
							<div class='row d-flex justify-content-center' id='UserFriendRequestsIconsAll'>

							</div>
						</div>
    				</div>
  				</div>
  			</div>
		</div>
	</div>
	<div id="UserInfoButtons" class="card-body">
	</div>
</script>

<!--
	FRIENDS ICON CARD TEMPLATE
-->
<script type="text/template" id="UserFriendsIconTemplate">
	<%# <div class='col-2 UserFriendIcon'> %>
		<div class='col-12'>
				<img width="70px" height="70px" class="rounded-circle" src=<%%= avatar.url %>>
		</div>
		<div class='col-12'>
			<span class='col-12 OnlineStatus OnlineStatus<%%= id %>'>&nbsp;&nbsp;&nbsp;&nbsp;</span> <span><%%= nickname %></span>
		</div>
	<%# </div> %>
</script>

<%= javascript_pack_tag 'user' %>
