<div class='row justify-content-center' id="UserProfilePage">
	<div class='col-3' id='UserInfo'></div>
	<div class='col-6' >
		<div class='row' id='UserFriends'></div>
		<div class='row' id='UserTournaments'></div>
	</div>
	<%# <div class='col-3' id='UserInfo'></div>
	<div class='col-5' style="min-width: 500px">
		<div class='row' id='UserFriends'></div>
		<div class='row' id='UserTournaments'></div>
	</div> %>
</div>


<script type="text/template" id="UserInfoTemplate">
	<div class="card">
		<div class="card-body">
			<div id="UserInfoPhoto">
				<img width="90%" class="rounded" src=<%%= avatar.url %>>
			</div>
			<div class="d-grid gap-2 mx-auto">
				<a href="/users/edit/">
					<button type="button" class="btn card-link btn-guild mx-auto" id="UserInfoEditButton">Edit Profile</button>
				</a>
			</div>
		</div>
		<div class="list-group list-group-flush" id="list-tab" role="tablist">
			<li class="list-group-item">
				<div class='row'>
					<div class='col-4 UserInfoField'>Nickname:</div>
					<div class='col'><%%= nickname %></div>
				</div>
			</li>
			<li class="list-group-item">
				<div class='row'>
					<div class='col-4 UserInfoField'>Email:</div>
					<div class='col'><%%= email %></div>
				</div>
			</li>
			<li class="list-group-item">
				<div class='row'>
					<div class='col-4 UserInfoField'>Score:</div>
					<div class='col'><%%= score %></div>
				</div>
			</li>
			<li class="list-group-item">
				<div class='row'>
					<div class='col-4 UserInfoField'>Loses:</div>
					<div class='col'><%%= loses %></div>
				</div>
			</li>
			<li class="list-group-item">
				<div class='row'>
					<div class='col-4 UserInfoField'>Wins:</div>
					<div class='col'><%%= wins %></div>
				</div>
			</li>
		</div>
	</div>
</script>

<script type="text/template" id="UserFriendsTemplate">
	<div class="card">
		<div class="card-body">
			<h5 class="card-title">FRIENDS</h5>
		</div>
		<div class="list-group list-group-flush" id="list-tab" role="tablist">
			<li class="list-group-item">
				<div class='d-flex justify-content-center' id='UserFriendsIcons'>
				
				</div>
			</li>
			<div class="accordion accordion-flush" id="accordionFlushExample">
				<div class="accordion-item">
    				<h2 class="accordion-header" id="flush-headingOne">
    					<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
      					</button>
    				</h2>
    				<div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
      					<div class="accordion-body">Here will be friends avatars with nicks
							<div class='d-flex justify-content-center' id='UserFriendsIconsAll'>
				
							</div>
							</div>
    				</div>
  				</div>
  			</div>
		</div>
	</div>
	<div id="UserInfoButtons" class="card-body">
	</div>
</script>

<script type="text/template" id="UserFriendsIconTemplate">
	<%# <div class='col-2 UserFriendIcon'> %>
		<div class='col-12'>
			<img width="70px" height="70px" class="rounded-circle" src=<%%= avatar.url %>> 
		</div>
		<div class='col-12'>
			<%%= nickname %>
		</div>
	<%# </div> %>
</script>

<%= javascript_pack_tag 'user' %>
